.submit-button {
    -fx-background-radius: 20;
    -fx-background-color: #EDAA2E;
    -fx-text-fill: #3c3c3c;
    -fx-pref-height: 37;
    -fx-pref-width: 136;
    -fx-font-family: "Product Sans Black";
    -fx-font-size: 13px;
}

.back-button {
    -fx-background-radius: 20;
    -fx-background-color: #343a40;
    -fx-text-fill: #ffffff;
    -fx-pref-height: 37;
    -fx-pref-width: 136;
    -fx-font-family: "Product Sans Black";
    -fx-font-size: 13px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #3c3c3c;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-font-family: "Product Sans";
    -fx-font-size: 12px;
    -fx-pref-height: 35;
    -fx-padding: 0 10 0 10;
}

.field-label {
    -fx-text-fill: white;
    -fx-font-family: "Product Sans";
    -fx-font-size: 15px;
}

.add-student-button {
    -fx-background-radius: 20;
    -fx-background-color: #ca6362;
    -fx-text-fill: white;
    -fx-pref-height: 37;
    -fx-pref-width: 136;
    -fx-font-family: "Product Sans Black";
    -fx-font-size: 13px;
}

.add-teacher-button {
    -fx-background-radius: 20;
    -fx-background-color: #ffebaf;
    -fx-text-fill: #3c3c3c;
    -fx-pref-height: 37;
    -fx-pref-width: 136;
    -fx-font-family: "Product Sans Black";
    -fx-font-size: 13px;
}
