.user-message {
    -fx-background-color: #A83332;
    -fx-font-family: "Product Sans";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-background-radius: 10 10 0 10;
    -fx-max-width: 500;
    -fx-wrap-text: true;
}

.bot-message {
    -fx-background-color: #e5e5ea;
    -fx-font-family: "Product Sans";
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-background-radius: 10 10 10 0;
    -fx-max-width: 500;
    -fx-wrap-text: true;
}