.button {
    -fx-background-color: #FFC107;
    -fx-background-radius: 10;
    -fx-font-family: "Product Sans";
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #CFA31C;
}

.button:hover {
    -fx-background-color: #D6A600;
}