.button {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #42474B;
}

.selected {
    -fx-background-color: #656558;
    -fx-text-fill: white;
}

.button:disabled {
    -fx-background-color: #42474B;
    -fx-opacity: 1;
}

.button:disabled:hover {
    -fx-background-color: #42474B;
}

.debug {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}