.button {
    -fx-background-color: #EDAA2E;
    -fx-font-family:  "Product Sans";
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.button:hover {
    -fx-background-color: #D6A600;
}

.deckItem {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 15;
    -fx-padding: 2;
}

.deckItem: hover {
    -fx-background-color: white;
}

.deckTitle {
    -fx-font-family: "Product Sans";
    -fx-text-fill: black;
    -fx-font-size: 12;
}

.deckBtn {
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-pref-height: 10;
}

.deckBtn: hover {
    -fx-background-color: red;
}

#addDeckCloseBtn: hover {
    -fx-font-weight: bold;
}

#addCardTextField, #addDeckTextField {
    -fx-text-fill: white;
}

#createDeckBtn {
    -fx-background-radius: 100;
}

.previewBtns {
    -fx-background-radius: 15;
}

.playNDelete {
    -fx-background-color:  #a83332;
    -fx-background-radius: 15;
}